<div class="pure-menu prompts-menu">
    <span class="pure-menu-heading">{{ heading }}</span>
    <ul class="pure-menu-list">
        <li *ngFor="let prompt of prompts; let i=index" class="pure-menu-item" [class.prompts-menu-selected]="isSelected(i)">
            <a href="#" class="pure-menu-link" (click)="onPromptClicked(i)">{{ prompt.description }}</a>
        </li>
    </ul>
</div>
<div class="suggestions">
    <ul *ngIf="selected != -1">
        <li *ngFor="let book of prompts[selected].suggestions" class="book-list-item">
            <span class="book-title">{{ book.title }}</span><span class="book-author"> - {{ book.author }} {{ isbnString(book) }}</span>
        </li>
    </ul>
</div>
