.bingo-title {
    font-size: larger;
    font-weight: bold;
    padding: 24px;
}

.login-link {
    position: absolute;
    padding: 24px;
    float: right;
    top: 0px;
    right: 0px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

fa-icon {
    cursor: pointer;
}