.bingo-title {
    font-size: larger;
    font-weight: bold;
    padding: 24px;
}

.bingo-banner {
    width: 100%;
    text-align: left;
    background-image: url("../assets/banner.jpg");
    @media screen and (max-width: 575px){
        background-position: 50% 50%;
    }
    background-size: contain;
    height: 75px;
    background-repeat: no-repeat;
}

.login-link {
    position: absolute;
    padding: 24px;
    float: right;
    top: 0px;
    right: 0px;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}