.section-header {
    font-size: larger;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding: 24px;
    background: #ff0000;
    -webkit-tap-highlight-color: transparent;
    @media (pointer:fine) {
        &:hover {
            background: #ff6e6e;
        }
    }
    &:active {
        background: #ffa0a0
    }
    cursor: pointer;

    fa-icon {
        float: right;
    }
}

.top-border {
    border-top: 1px solid #a5a5a5;
}

.book-title {
    font-size: large;
    font-weight: 600;
    color: #000;
}

.book-isbn {
    font-size: large;
    font-weight: 300;
    color: #a5a5a5;
}

.book-author {
    font-size: large;
    font-weight: 300;
    color: #000;
}



